// colors

$primary: #336CFB;
$error: #FF6760;
$success: #34EEAE;
$warning: #FCDF98;
$accent: #52575C;
$secondary: #A0A4A8;
$info: #2196F3;



//$box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06) !important;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33) !important;
$border-radius: 8px;


$default-icon-size: 14px;


$input-icon-size: 16px;



$input-border-color: #D6E4EC;



$input-shadow: 0px 1.35743px 5.42972px rgba(117, 131, 142, 0.04), 0px 10.8594px 16.2892px rgba(52, 60, 68, 0.12);